$color-main: #41b883;
$color-success: #209526;
$color-warning: #f5b629;
$color-danger: #f50057;
$color-primary: #1565c0;
$color-white: #ffffff;
$color-divider: #f9f9fa;
$color-disabled: #cacad9;
$color-disbaled-light: #eaeaf0;
$color-subtext: #979fae;
$color-title: #4a576e;
$color-text: #687285;
